#examples {
	position: relative;
	width: 700px;			
	margin:20px auto 0 auto;
}
#examples img {
	display: none;
}
.sliced-content {
	margin-bottom: 40px;
	border: 5px solid #feb86c;
	border-radius: 10px;
}		
.sliced-content-3 {
	border-radius: 0;
	border-top: 0;
	border-bottom: 0;
}
#bg {
    position:fixed; 
    top:-50%; 
    left:-50%; 
    width:200%; 
    height:200%;
}
#bg img {
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:50%;
    min-height:50%;
    opacity: 0.3;
    z-index: -1;
}